<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-[url('/images/indexbac.jpg')] bg-cover">
    <nav class="p-6 font-serif bg-white">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <span class="flex items-center self-center text-3xl font-semibold whitespace-nowrap text-blue-700">Online Voting Platform</span>
          <div class="w-auto">
            <ul class="flex">
              <li>
                <a href="/user_password_reset" class="block px-4 py-2 font-semibold text-blue-700 rounded hover:bg-red-100">Reset password</a>
              </li>
              <li>
                <a href="/signout" class="block px-4 py-2 font-semibold text-blue-700 rounded hover:bg-red-100">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="rounded-lg px-6 py-2">
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-blue-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
        <% } %>
    <% } %>
    </div>
    <div class="flex gap-1 mx-10 mt-6">
        <span>></span>
        <a href="/elections" class="font-serif text-2xl text-blue-800 hover:text-blue-600">All Elections</a>
        <span>></span>
    </div>
    <div class="my-6 mx-10">
        <h3 class="font-serif text-4xl text-white my-4 font-medium"><%= title %></h3>
        <% if (Launch) { %>
            <h5 class="font-serif text-3xl text-white my-2 font-medium">Congratulations!!Your election is launched successfully!</h5>
        <% } %>
        <div class="mt-4">
            <h2 class="text-white font-serif my-2 text-lg flex gap-1">Your election has <span class="font-serif text-blue-600"> <%= nq %> </span> questions in the ballot</h2>
            <% if (!Launch) { %>
                <a href="/elections/<%= id %>/questions" class="py-1 hover:text-blue-800 text-xl text-blue-600">Manage questions</a>
            <% } %>
        </div>
        <div class="mb-8 bt-4">
            <h2 class="text-white font-serif my-2 text-lg  flex gap-1">Your election has <span class="font-serif text-blue-600"> <%= nv %> </span> registered voters.</h2>
            <a href="/elections/<%= id %>/voters" class="font-serif py-1 hover:text-blue-800 text-xl text-blue-600">Manage voters</a>
        </div>
        <% if (Launch) { %>
            <div class="mt-4 py-4">
                
                <h2 class="text-white font-serif my-2 text-lg flex gap-1">Voters can access election from URL given below:</h2>
                <a href="/election/<%= url %>/" class="py-1 hover:text-blue-600 text-xl text-green-600">https://localhost:3000/election/<%= url %></a>
            </div>
        <% } %>
        
        <% if (!Launch) { %>
            <div class="font-serif bg-blue-600 rounded w-fit px-4 py-1 hover:bg-green-600">
                <a href="/elections/<%= id %>/preview" class="font-serif text-white">Preview & Launch election</a>
            </div>
        <% } %>
        <% if (Launch) { %>
            <div class="flex gap-2">
                <div class="bg-blue-600 rounded w-fit px-4 py-1 hover:bg-red-600 ease-linear transition-all duration-150">
                    <a href="" class="font-serif text-white">Preview result</a>
                </div>
                <div class="bg-blue-600 rounded w-fit px-4 py-1 hover:bg-red-600 ease-linear transition-all duration-150">
                    <a href="" class="font-serif text-white">End election</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>