<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-[url('/images/indexbac.jpg')] bg-cover">
    <nav class="p-6 font-serif bg-white">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <span class="flex items-center self-center text-3xl font-semibold whitespace-nowrap text-blue-700">Online Voting Platform</span>
          <div class="w-auto">
            <ul class="flex">
              <li>
                <a href="/user_password_reset" class="block px-4 py-2 font-semibold text-blue-700 rounded hover:bg-red-100">Reset password</a>
              </li>
              <li>
                <a href="/signout" class="block px-4 py-2 font-semibold text-blue-700 rounded hover:bg-red-100">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="rounded-lg px-6 py-2">
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-blue-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
        <% } %>
    <% } %>
    </div>
    <div class="flex gap-1 mx-10 mt-6">
        <span>></span>
        <a href="/elections" class="font-serif text-2xl text-blue-800 hover:text-blue-600">All Elections</a>
        <span>></span>
    </div>
    <div class="my-6 mx-10">
        <h3 class="font-serif text-4xl text-white my-4 font-medium"><%= title %></h3>
        <% if (Launch) { %>
            <div class="hover:bg-green-600 opacity-90">
                <ul class="flex">
                    <li> <h5 class="font-serif text-3xl px-2 text-white my-2 font-medium">Congratulations</h5></li>
                    <li><svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-8 h-8 mt-2 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"><path>
                      </svg></li>
                    <li><h5 class="font-serif text-3xl text-white px-2 my-2 font-medium">Your election is launched successfully!</h5></li>
                </ul>
            </div>
        <% } %>
        <div class="mt-4">
            <h2 class="text-white font-serif my-2 text-lg flex gap-1">Your election has <span class="font-serif text-2xl text-blue-600"> <%= nq %> </span> questions in the ballot</h2>
            <% if (!Launch) { %>
                <a href="/elections/<%= id %>/questions" class="py-1 hover:text-blue-800 text-xl text-blue-600">Manage questions</a>
            <% } %>
        </div>
        <div class="mb-8 bt-4">
            <h2 class="text-white font-serif my-2 text-lg  flex gap-1">Your election has <span class="font-serif text-2xl text-blue-600"> <%= nv %> </span> registered voters.</h2>
            <a href="/elections/<%= id %>/voters" class="font-serif py-1 hover:text-blue-800 text-xl text-blue-600">Manage voters</a>
        </div>
        <% if (Launch) { %>
            <div class="mt-4 py-4">
                
                <h2 class="text-white font-serif my-2 text-2xl flex gap-1">Voters can access election from URL given below:</h2>
                <a href="/election/<%= url %>/" class="py-1 hover:text-blue-600 hover:bg-white hover:opacity-90 text-xl text-green-600">https://harshas-voting-platform.onrender.com/election/<%= url %></a>
            </div>
        <% } %>
        
        <% if (!Launch) { %>
            <div class="font-serif bg-blue-600 rounded w-fit px-4 py-1 hover:bg-green-600">
                <ul class="flex">
                    <li>
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"><path>
                          </svg>
                    </li>
                    <li>
                        <a href="/elections/<%= id %>/preview" class="font-serif px-2 text-white">Preview & Launch election</a>
                    </li>
                </ul>
                
            </div>
        <% } %>
        <% if (Launch) { %>
            <div class="flex gap-2">
                <div class="bg-blue-600 rounded w-fit px-4 py-1 hover:bg-red-600 ease-linear transition-all duration-150">
                    <a href="" class="font-serif text-white">Preview result</a>
                </div>
                <div class="bg-blue-600 rounded w-fit px-4 py-1 hover:bg-red-600 ease-linear transition-all duration-150">
                    <a href="" class="font-serif text-white">End election</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>